body{
    font-family: "Poppins";
    background-color: rgb(30, 30, 30);
    margin: 0;
}
h1, h2, h3, p, li{
    color: ghostwhite;
    margin: 4px;
    font-weight: 400;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 12px;
}

.header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.navbardiv{
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: fixed;
    top: 8px;
    width: 100vw;
    align-items: center;
}
.navbar{
    list-style-type: none;
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
}
.navbar li{
    display: inline;
    text-align: center;
}
.iconmenu{
    height: 40px;
}
.description{
    margin: 20px;
    width: 50vw;
}
.nombreyrat{
    display: flex;
    align-items: last baseline;
}
.playnsave{
    display: flex;
    align-items: center;
}
button{
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: ghostwhite;
    border-radius: 10%;
    margin: 4px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button img{
    height: 100%;
}



.seccion{
    margin: 20px;
}
.listcataloge{
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
}
.listcataloge-div{
    width: max-content;
    margin: 10px;
}
.imgitem{
    height: 200px;
}
.imgitem img{
    height: 100%;
    border-radius: 5%;
}
.bottomtext{
    display: flex;
    justify-content: space-between;
    height: 28px;
    font-size: 10px;
    align-items: center;
}
.bottomtext img{
    height: 12px;
}
.stars{
    display: flex;
    align-items: center;
}

